body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
  }
  
  
  button {
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
  }